@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://websfont.github.io/nanumSquareNeo/nanumSquareNeo.css");
@import url("https://websfont.github.io/gmarket/gmarket.css");
:root {
  --mainEng-font: "Montserrat";
  --mainKor-font: "nanumSquareNeo";
  --mainNum-font: "gmarket";
  --mainBg-color: #f3ede8;
  --subBg100: #cdc0b1;
  --subBg200: #afa395;
  --subBg300: #81887c;
  --subBg400: #afa7a2;
  --subBg500: #a6afa2;
  --white: #fff;
  --black: #000;
  --black100: #2b2b2b;
  --black200: #434343;
  --black300: #686868;
  --black400: #e0e0e0;
  font-family: var(--mainEng-font), var(--mainKor-font);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 800px) {
  :root {
    font-size: 14px;
    line-height: 1.4;
  }
}
body {
  color: var(--black100);
  background-color: var(--mainBg-color);
}

.grid {
  *zoom: 1;
}
.grid::before, .grid::after {
  content: "";
  display: table;
}
.grid::after {
  clear: both;
}

.sr-only {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  color: transparent;
  border: 0;
  text-indent: -9999px;
}

.grid {
  position: relative;
  box-sizing: border-box;
}
.grid .col {
  position: relative;
  float: left;
  box-sizing: border-box;
}

.table {
  display: table;
}
.table .table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.effect-bounce-diagonal {
  -webkit-animation-name: effectBounceDiagonal;
          animation-name: effectBounceDiagonal;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}
@keyframes effectBounceDiagonal {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}

.effect-bounce-updown {
  -webkit-animation-name: effectBounceUpDown;
          animation-name: effectBounceUpDown;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes effectBounceUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.effect-extend {
  -webkit-animation-name: effectExtend;
          animation-name: effectExtend;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectExtend {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
}
@keyframes effectExtend {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
}

.effect-blink {
  -webkit-animation-name: effectBlink;
          animation-name: effectBlink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: step-end;
          animation-timing-function: step-end;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes effectBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.mont {
  font-family: "Montserrat";
}

.nanum {
  font-family: "nanumSquareNeo";
}

.gmarket {
  font-family: "gmarket";
}

html {
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, option, img, div {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
table,
textarea {
  font-family: var(--mainEng-font), var(--mainKor-font), "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", helvetica, sans-serif;
}

img, fieldset {
  border: 0;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
  max-width: 100%;
}
@media screen and (min-width: 1100px) {
  img {
    width: auto;
  }
}

input, select {
  vertical-align: middle;
}

select,
input[type=text],
input[type=password],
input[type=number],
input[type=tel],
input[type=submit],
input[type=rest],
input[type=button],
textarea {
  border-radius: 0;
  background-color: transparent;
  box-sizing: border-box;
}

em, address {
  font-style: normal;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  empty-cells: show;
  table-layout: fixed;
}

legend, caption {
  visibility: hidden;
  width: 0;
  height: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
}

h1, h2, h3, h4, h5, h6, strong, em {
  font-weight: bold;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  text-decoration: none;
  border: none;
  background: transparent;
  outline: 0;
  cursor: pointer;
}

#skip a {
  position: absolute;
  left: 10px;
  top: -92px;
  z-index: 100000;
  font-size: 1rem;
  padding: 10px 30px;
  color: var(--white);
  background: var(--black);
}

#skip a:focus,
#skip a:active {
  top: 10px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}
#header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(116, 99, 99, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
#header .header-logo {
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  font-size: 0.9rem;
}
#header .header-logo em {
  display: block;
  font-size: 10px;
  color: var(--black200);
}
@media (max-width: 800px) {
  #header .header-nav {
    display: none;
  }
}
#header .header-nav.show {
  display: block;
}
#header .header-nav.show + .header-nav-mobile span::before, #header .header-nav.show + .header-nav-mobile span::after {
  width: 20px;
}
#header .header-nav.show ul {
  position: absolute;
  top: 68px;
  right: 0;
  z-index: 10000;
  display: block;
  min-width: 150px;
  padding: 20px 0;
  background-color: rgba(116, 99, 99, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
#header .header-nav.show li {
  display: block;
  text-align: right;
}
#header .header-nav.show li a {
  display: inline-block;
  padding: 10px;
}
#header .header-nav li {
  display: inline;
}
#header .header-nav li a {
  position: relative;
  padding: 14px;
  font-size: 14px;
  text-transform: uppercase;
}
#header .header-nav li a:hover::before {
  transform: scaleX(1);
}
#header .header-nav li a::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 14px;
  width: calc(100% - 28px);
  height: 1px;
  background-color: var(--black);
  transform: scaleX(0);
  transition: all 0.3s;
}
#header .header-nav-mobile {
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
@media (max-width: 800px) {
  #header .header-nav-mobile {
    display: block;
  }
}
#header .header-nav-mobile span {
  position: relative;
  display: block;
  width: 40px;
  height: 2px;
  margin-top: 19px;
  background-color: var(--black);
}
#header .header-nav-mobile span::before, #header .header-nav-mobile span::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: var(--black);
  transition: width 0.3s;
}
#header .header-nav-mobile span::before {
  top: 6px;
  right: 0;
}
#header .header-nav-mobile span::after {
  bottom: 6px;
  left: 0;
}

#intro {
  height: 100vh;
}
#intro .intro-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}
@media (max-width: 800px) {
  #intro .intro-inner {
    justify-content: center;
  }
}
#intro .intro-title {
  line-height: 1;
  font-size: 10vw;
  font-weight: 800;
  letter-spacing: -0.3vw;
  text-indent: -0.5vw;
  text-transform: uppercase;
  white-space: nowrap;
}
@media (max-width: 320px) {
  #intro .intro-title {
    display: none;
  }
}
#intro .intro-text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  color: var(--white);
  background-color: var(--black);
}
#intro .intro-text:hover .text {
  opacity: 0;
}
#intro .intro-text:hover .img {
  filter: grayscale(0);
}
#intro .intro-text .text {
  position: relative;
  z-index: 100;
  text-align: center;
  line-height: 1;
  font-size: 3vw;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: all-scroll;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
@media (max-width: 800px) {
  #intro .intro-text .text {
    font-size: 24px;
  }
}
#intro .intro-text .img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30vh;
  height: 30vh;
  overflow: hidden;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  filter: grayscale(100%);
}
#intro .intro-lines {
  width: 100%;
}
#intro .intro-lines.bottom .line {
  display: none;
  margin-bottom: 0;
  margin-top: 0.5vw;
}
@media (max-width: 800px) {
  #intro .intro-lines.bottom .line {
    display: block;
  }
}
#intro .intro-lines.bottom .line:nth-child(1) {
  height: 25px;
}
#intro .intro-lines.bottom .line:nth-child(2) {
  height: 17px;
}
#intro .intro-lines.bottom .line:nth-child(3) {
  height: 13px;
}
#intro .intro-lines.bottom .line:nth-child(4) {
  height: 9px;
}
#intro .intro-lines.bottom .line:nth-child(5) {
  height: 5px;
}
#intro .intro-lines.bottom .line:nth-child(6) {
  height: 2px;
}
#intro .intro-lines.bottom .line:nth-child(7) {
  height: 1px;
}
#intro .intro-lines .line {
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 0.5vw;
  background-color: var(--black);
}
#intro .intro-lines .line:nth-child(1) {
  height: 1px;
}
#intro .intro-lines .line:nth-child(2) {
  height: 2px;
}
#intro .intro-lines .line:nth-child(3) {
  height: 5px;
}
#intro .intro-lines .line:nth-child(4) {
  height: 9px;
}
#intro .intro-lines .line:nth-child(5) {
  height: 13px;
}
#intro .intro-lines .line:nth-child(6) {
  height: 17px;
}
#intro .intro-lines .line:nth-child(7) {
  height: 25px;
}

#skill .skill-inner {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
@media (max-width: 800px) {
  #skill .skill-inner {
    flex-direction: column;
  }
}
#skill .skill-title {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  left: 0;
  width: 48%;
  height: 5vw;
  line-height: 1.6;
  font-family: var(--mainKor-font);
  font-size: 4vw;
  font-weight: 900;
  color: var(--black100);
  text-transform: uppercase;
  border-bottom: 0.4vw solid var(--black100);
}
@media (max-width: 800px) {
  #skill .skill-title {
    top: 68px;
    width: 100%;
    height: auto;
    margin-bottom: 10vw;
    font-size: 30px;
    background-color: var(--mainBg-color);
  }
}
#skill .skill-title em {
  line-height: 2;
  font-size: 1.25rem;
  font-weight: 400;
}
#skill .skill-desc {
  width: 50%;
}
@media (max-width: 800px) {
  #skill .skill-desc {
    width: 100%;
  }
}
#skill .skill-desc span {
  line-height: 1.3;
  font-family: var(--mainNum-font);
  font-size: 5vw;
}
@media (max-width: 800px) {
  #skill .skill-desc span {
    font-size: 20vw;
  }
}
#skill .skill-desc h3 {
  margin-bottom: 1vw;
  font-size: 1.5rem;
  text-decoration: underline;
  text-underline-position: under;
}
#skill .skill-desc p {
  margin-bottom: 30vh;
  font-size: 1.1rem;
}

#site .site-inenr {
  padding: 16px;
}
#site .site-title {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  left: 0;
  width: 70%;
  height: 5vw;
  margin-bottom: 100px;
  line-height: 1.6;
  font-family: var(--mainKor-font);
  font-size: 4vw;
  font-weight: 900;
  color: var(--black100);
  text-transform: uppercase;
  border-bottom: 0.4vw solid var(--black100);
}
@media (max-width: 800px) {
  #site .site-title {
    top: 68px;
    z-index: 100;
    width: 100%;
    height: auto;
    margin-bottom: 10vw;
    font-size: 30px;
    background-color: var(--mainBg-color);
  }
}
#site .site-title em {
  line-height: 2;
  font-size: 1.25rem;
  font-weight: 400;
}
#site .site-item {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}
#site .site-item.item-1 {
  top: 180px;
  background-color: var(--subBg100);
}
@media (max-width: 800px) {
  #site .site-item.item-1 {
    top: 140px;
  }
}
#site .site-item.item-2 {
  top: 200px;
  background-color: var(--subBg200);
}
@media (max-width: 800px) {
  #site .site-item.item-2 {
    top: 160px;
  }
}
#site .site-item.item-3 {
  top: 220px;
  background-color: var(--subBg300);
}
@media (max-width: 800px) {
  #site .site-item.item-3 {
    top: 180px;
  }
}
#site .site-item.item-4 {
  top: 240px;
  background-color: var(--subBg400);
}
@media (max-width: 800px) {
  #site .site-item.item-4 {
    top: 200px;
  }
}
#site .site-item .num {
  position: absolute;
  top: 1vw;
  left: 1vw;
  line-height: 1;
  font-family: var(--mainNum-font);
  font-size: 5vw;
  font-weight: 900;
}
@media (max-width: 800px) {
  #site .site-item .num {
    top: 20px;
    left: 20px;
    font-size: 80px;
  }
}
#site .site-item .text {
  margin-bottom: 1rem;
  text-align: center;
}
#site .site-item .text > div {
  line-height: 1;
  font-family: var(--mainEng-font);
  font-size: 3vw;
  font-weight: 900;
  text-decoration: underline;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  #site .site-item .text > div {
    font-size: 26px;
  }
}
#site .site-item .title {
  margin-bottom: 1rem;
  font-family: var(--mainKor-font);
}
#site .site-item .btn a {
  font-size: 1rem;
  color: var(--black200);
  text-decoration: underline;
  text-transform: uppercase;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
#site .site-item .btn a:hover {
  color: var(--black);
}
#site .site-item .info {
  position: absolute;
  bottom: 3%;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin-left: 1%;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
}
@media (max-width: 800px) {
  #site .site-item .info {
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    padding: 5px 0;
  }
}
#site .site-item .info span {
  padding: 3px 0;
  font-family: var(--mainKor-font);
  font-size: 12px;
  text-transform: uppercase;
}

#port {
  width: 100%;
  margin-top: 30vh;
  overflow: hidden;
}
#port .port-inner {
  padding: 16px;
}
#port .port-title {
  width: 100%;
  height: 5vw;
  margin-bottom: 16px;
  line-height: 1.6;
  font-family: var(--mainKor-font);
  font-size: 4vw;
  font-weight: 900;
  color: var(--black100);
  text-transform: uppercase;
  text-indent: -0.26vw;
  border-bottom: 0.4vw solid var(--black100);
}
#port .port-title em {
  line-height: 2;
  font-size: 1.25rem;
  font-weight: 400;
}
#port .port-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 7000px;
}
#port .port-item {
  width: 500px;
  height: 70vh;
  margin-right: 20px;
  padding: 2.5rem;
  background-color: var(--subBg100);
}
#port .port-item:hover .img {
  margin-top: 0;
}
#port .port-item:hover .img img {
  filter: saturate(100%);
}
#port .port-item.item-1 {
  background-color: var(--subBg100);
}
#port .port-item.item-2 {
  background-color: var(--subBg200);
}
#port .port-item.item-3 {
  background-color: var(--subBg300);
}
#port .port-item.item-4 {
  background-color: var(--subBg400);
}
#port .port-item.item-5 {
  background-color: var(--subBg500);
}
#port .port-item .num {
  font-family: var(--mainNum-font);
  font-size: 2rem;
}
#port .port-item .img {
  display: block;
  margin-top: -20px;
  -webkit-transition-property: margin-top;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: margin-top;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  transition-property: margin-top;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
#port .port-item .img img {
  border-radius: 5px;
  filter: saturate(0%);
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
#port .port-item .title {
  margin-bottom: 1rem;
  padding: 0.8rem 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--black100);
  border-bottom: 2px solid var(--black100);
}
#port .port-item .desc {
  font-size: 1rem;
}
#port .port-item .site {
  display: block;
  margin-top: 1.5rem;
  padding: 0.625rem 1.5rem;
  text-align: center;
  border: 1px solid var(--black100);
}/*# sourceMappingURL=style.css.map */