.promotion,
.product-eco,
.fullservice {
	text-align: center;
	[class^="sector-"] {
		position: relative;
	}
	.wrap {
		position: relative;
		margin: 0 auto;
	}
	.wrap-full {
		position: relative;
		width: 100%;
		margin: 0 auto;
	}
}
