#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
	.header-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
		background-color: rgba(116, 99, 99, 0.1);
		backdrop-filter: blur(15px);
	}
	.header-logo {
		text-align: center;
		text-transform: uppercase;
		line-height: 1;
		font-size: 0.9rem;
		em {
			display: block;
			font-size: 10px;
			color: var(--black200);
		}
	}
	.header-nav {
		@media (max-width: 800px){
			display: none;
		}
		&.show {
			display: block;
			& + .header-nav-mobile span::before,
			& + .header-nav-mobile span::after {
				width: 20px;
			}
			ul {
				position: absolute;
				top: 68px;
				right: 0;
				z-index: 10000;
				display: block;
				min-width: 150px;
				padding: 20px 0;
				background-color: rgba(116, 99, 99, 0.1);
				backdrop-filter: blur(15px);
			}
			li {
				display: block;
				text-align: right;
				a {
					display: inline-block;
					padding: 10px;
				}
			}
		}
		li {
			display: inline;
			a {
				position: relative;
				padding: 14px;
				font-size: 14px;
				text-transform: uppercase;
				&:hover::before {
					transform: scaleX(1);
				}
				&::before {
					content: '';
					position: absolute;
					bottom: 10px;
					left: 14px;
					width: calc(100% - 28px);
					height: 1px;
					background-color: var(--black);
					transform: scaleX(0);
					transition: all 0.3s;
				}
			}
		}
	}
	.header-nav-mobile {
		display: none;
		width: 40px;
		height: 40px;
		cursor: pointer;
		@media (max-width: 800px){
			display: block;
		}
		span {
			position: relative;
			display: block;
			width: 40px;
			height: 2px;
			margin-top: 19px;
			background-color: var(--black);
			&::before,
			&::after {
				content: '';
				position: absolute;
				width: 40px;
				height: 2px;
				background-color: var(--black);
				transition: width 0.3s;
			}
			&::before {
				top: 6px;
				right: 0;
			}
			&::after {
				bottom: 6px;
				left: 0;
			}
		}
	}
}
